.green-text {
  color: #59b210 !important;
}
.green-text:hover {
  background-color: #59b210 !important;
  color: #fff !important;
}
.blue-text {
  color: #3498db !important;
}
.blue-text:hover {
  background-color: #3498db !important;
  color: #fff !important;
}
.red-text {
  color: #e74c3c !important;
}
.red-text:hover {
  background-color: #e74c3c !important;
  color: #fff !important;
}
.orange-text {
  color: #f27a24 !important;
}
.orange-text:hover {
  background-color: #f27a24 !important;
  color: #fff !important;
}
.navy-text {
  color: #34495e !important;
}
.navy-text:hover {
  background-color: #34495e !important;
  color: #fff !important;
}
.dark-green-text {
  color: #21b68e !important;
}
.dark-green-text:hover {
  background-color: #21b68e !important;
  color: #fff !important;
}