body {
    font-size: 16px;
    font-family: "PT Sans", sans-serif;
    background-color: #9ba9dd;
}

h1 {
    margin: 0;
    margin-bottom: 0.5em;
    font-size: 18px;
}

.container {
    width: 900px;
    margin: 20px auto;
}

.catalog {
    border-radius: 25px;
    width: 900px;
    background: #ecf0f1;
    box-shadow: 0 0 3px #999999;
}

.item {
    margin-top: 10px;
    margin-left: 10px;
    display: inline-block;
    vertical-align: top;
    width: 220px;
    height: 290px;
    margin-right: 20px;
    margin-bottom: 20px;
    text-align: center;
    background: #414bbc;
    border-radius: 12px;
}

.item:nth-child(3n) {
    margin-right: 0;
}

.images{
    margin-top: 5%;
    width: 200px;
    height: 200px;
    border-radius: 5px;
}

.navbar {
    opacity: 0.6;
    margin-bottom: 0;
    background-color: #414bbc;
    z-index: 9999;
    border: 0;
    font-size: 18px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: AmsdamСyr-lat;
}

.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #6505bc !important;
    background-color: #fff !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}

.lang_div{
    text-align: right;
    height: 20px;
    background-color: #2d6ca2;
}

.lang_button{
    color: white;
}