<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/buildingonlineshop</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>

        <property name="connection.username">root</property>
        <property name="connection.password">root</property>

        <mapping class="ru.pinch.entity.products.plywoods.Plywood"/>
        <mapping class="ru.pinch.entity.products.Product"/>
        <mapping class="ru.pinch.entity.users.User"/>
        <mapping class="ru.pinch.entity.users.Role"/>
        <mapping class="ru.pinch.entity.users.Basket"/>
        <mapping class="ru.pinch.entity.products.Photos"/>

    </session-factory>
</hibernate-configuration>