@font-face {
    font-family: OpenSans;
    src: url(../../fonts/OpenSans.ttf);
}
body {
    font-size: 16px;
    font-family: "PT Sans", sans-serif;
    background-color: #9ba9dd;
}

h1 {
    margin: 0;
    margin-bottom: 0.5em;
    font-size: 18px;
}

/*------------top_header--------*/
.top_header_color {
    color: white;
    margin-left: 4%;
    font-size: 9px;
}
.top_header {
    background: rgb(90, 146, 220);
    height: 20px;
}
.margin_13 {
    margin-left: 18%;
}
.lng_btn {
    background: rgba(151, 219, 244, 0.96);
    border: 0;
    font-size: 13px;
    color: white;
    border-radius: 3px;
    text-align: center;
}
.contact_s{
    font-family: OpenSans, serif;
    font-size:120%;
}
/*--------------------------------*/

/*----------NAVBAR--------------*/
.navbar {
    opacity: 0.6;
    margin-bottom: 0;
    background-color: #414bbc;
    z-index: 9999;
    border: 0;
    font-size: 18px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: AmsdamСyr-lat, serif;
}
.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}
.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #6505bc !important;
    background-color: #fff !important;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}
/*--------------------------------*/

